@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.logoText {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #fff;
}

.logoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logoImage {
    width: auto;
    height: auto;
    margin-right: 10px;
}